---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="CoderHN | Política de Privacidad">
    <Header />
    <main>
        <div
            style="background: white; padding: 2rem; border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); margin-top: 3.5rem; margin-bottom: 3.5rem; cursor: margin: 4rem; max-width: 800px; margin-left: auto; margin-right: auto;"
        >
            <div>
                <h2 style="font-size: 2.5rem; margin-bottom: 1rem;">
                    Su correo ha sido enviado con éxito
                </h2>
                <!-- <p style="max-width: 600px; margin: 0 auto; font-size: 1.2rem;">
    En CoderHN te ayudamos a crecer en el mundo digital, con estrategias efectivas en redes sociales y páginas web modernas.
  </p> -->

                <a href="/">
                    <button
                        style="width: 100%;
background: linear-gradient(135deg, #00bfa5, #00838f, #26c6da);
color: white;
padding: 0.5rem 1rem;
border-radius: 0.5rem;
border: none;
cursor: pointer;
font-size: 1rem;
font-weight: 500;
transition: opacity 0.3s ease;"
                    >
                        Regresar a inicio
                    </button>
                </a>
            </div>
        </div>
    </main>
</Layout>
<Footer />
